In [1]:
# imports
import pandas as pd
import numpy

In [2]:
# Making the dataframe to inspect the data
df_epa_frs = pd.read_csv("STATE_SINGLE_MN.csv")
df_epa_frs.head()

/var/folders/_9/80bxm26n3b5300q7n7g729_c0000gn/T/ipykernel_16853/1519161257.py:2: DtypeWarning: Columns (5,7,13,14,15,16,21,27,29,30,34,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_epa_frs = pd.read_csv("STATE_SINGLE_MN.csv")

,FRS_FACILITY_DETAIL_REPORT_URL,REGISTRY_ID,PRIMARY_NAME,LOCATION_ADDRESS,SUPPLEMENTAL_LOCATION,CITY_NAME,COUNTY_NAME,FIPS_CODE,STATE_CODE,STATE_NAME,...,SIC_CODES,SIC_CODE_DESCRIPTIONS,LATITUDE83,LONGITUDE83,CONVEYOR,COLLECT_DESC,ACCURACY_VALUE,REF_POINT_DESC,HDATUM_DESC,SOURCE_DESC
0,https://ofmpub.epa.gov/frs_public2/fii_query_d...,110055452380,SHERWIN-WILLIAMS 3296,10690 BALTIMORE ST NE,NaN,10690 BALTIMORE ST NE,ANOKA,27003,MN,MINNESOTA,...,5231,"PAINT, GLASS, AND WALLPAPER STORES",45.16277,-93.23254,FRS-GEOCODE,ADDRESS MATCHING-HOUSE NUMBER,30.0,CENTER OF A FACILITY OR STATION,NAD83,NaN
1,https://ofmpub.epa.gov/frs_public2/fii_query_d...,110055527835,PARKER AUTO MALL,6771 MAIN ST,NaN,6771 MAIN ST,CHISAGO,27025,MN,MINNESOTA,...,NaN,NaN,45.51152,-92.97108,FRS-GEOCODE,ADDRESS MATCHING-HOUSE NUMBER,30.0,CENTER OF A FACILITY OR STATION,NAD83,NaN
2,https://ofmpub.epa.gov/frs_public2/fii_query_d...,110069113113,150TH STREET - AASTAD TOWNSHIP,SEE LOCATION DESCRIPTION,NaN,AASTAD TOWNSHIP,OTTER TAIL,27111,MN,MINNESOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAD83,NaN
3,https://ofmpub.epa.gov/frs_public2/fii_query_d...,110068363425,AASTAD TOWNSHIP DUMP SITE,SEE LOCATION DESCRIPTION,NaN,AASTAD TOWNSHIP,OTTER TAIL,27111,MN,MINNESOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAD83,NaN
4,https://ofmpub.epa.gov/frs_public2/fii_query_d...,110068290904,GARY T LIEN FARM,12701 220TH AVE,NaN,AASTAD TOWNSHIP,OTTER TAIL,27111,MN,MINNESOTA,...,NaN,NaN,46.14703,-96.02937,FRS-GEOCODE,ADDRESS MATCHING-HOUSE NUMBER,30.0,CENTER OF A FACILITY OR STATION,NAD83,NaN

In [3]:
df_epa_frs.columns

Index(['FRS_FACILITY_DETAIL_REPORT_URL', 'REGISTRY_ID', 'PRIMARY_NAME',
       'LOCATION_ADDRESS', 'SUPPLEMENTAL_LOCATION', 'CITY_NAME', 'COUNTY_NAME',
       'FIPS_CODE', 'STATE_CODE', 'STATE_NAME', 'COUNTRY_NAME', 'POSTAL_CODE',
       'FEDERAL_FACILITY_CODE', 'FEDERAL_AGENCY_NAME', 'TRIBAL_LAND_CODE',
       'TRIBAL_LAND_NAME', 'CONGRESSIONAL_DIST_NUM', 'CENSUS_BLOCK_CODE',
       'HUC_CODE', 'EPA_REGION_CODE', 'SITE_TYPE_NAME', 'LOCATION_DESCRIPTION',
       'CREATE_DATE', 'UPDATE_DATE', 'US_MEXICO_BORDER_IND', 'PGM_SYS_ACRNMS',
       'INTEREST_TYPES', 'NAICS_CODES', 'NAICS_CODE_DESCRIPTIONS', 'SIC_CODES',
       'SIC_CODE_DESCRIPTIONS', 'LATITUDE83', 'LONGITUDE83', 'CONVEYOR',
       'COLLECT_DESC', 'ACCURACY_VALUE', 'REF_POINT_DESC', 'HDATUM_DESC',
       'SOURCE_DESC'],
      dtype='object')

In [4]:
df_epa_frs_clean = df_epa_frs[['REGISTRY_ID', 'PRIMARY_NAME', 'LOCATION_ADDRESS', 'TRIBAL_LAND_CODE', 'SITE_TYPE_NAME', 'INTEREST_TYPES', 'LATITUDE83', 'LONGITUDE83']]

In [5]:
df_epa_frs_clean.head()

,REGISTRY_ID,PRIMARY_NAME,LOCATION_ADDRESS,TRIBAL_LAND_CODE,SITE_TYPE_NAME,INTEREST_TYPES,LATITUDE83,LONGITUDE83
0,110055452380,SHERWIN-WILLIAMS 3296,10690 BALTIMORE ST NE,NaN,STATIONARY,"STATE MASTER, VSQG",45.16277,-93.23254
1,110055527835,PARKER AUTO MALL,6771 MAIN ST,NaN,STATIONARY,VSQG,45.51152,-92.97108
2,110069113113,150TH STREET - AASTAD TOWNSHIP,SEE LOCATION DESCRIPTION,NaN,STATIONARY,STATE MASTER,NaN,NaN
3,110068363425,AASTAD TOWNSHIP DUMP SITE,SEE LOCATION DESCRIPTION,NaN,STATIONARY,STATE MASTER,NaN,NaN
4,110068290904,GARY T LIEN FARM,12701 220TH AVE,NaN,STATIONARY,STATE MASTER,46.14703,-96.02937

In [16]:
#df = df.dropna(axis=0, subset=['Charge_Per_Line'])

df_epa_frs_clean = df_epa_frs_clean.dropna(axis=0, subset=['LATITUDE83'])
df_epa_frs_clean = df_epa_frs_clean.dropna(axis=0, subset=['LONGITUDE83'])
df_epa_frs_clean = df_epa_frs_clean.dropna(axis=0, subset=['INTEREST_TYPES'])
df_epa_frs_clean = df_epa_frs_clean.dropna(axis=0, subset=['SITE_TYPE_NAME'])

In [17]:
df_epa_frs_clean.head()

,REGISTRY_ID,PRIMARY_NAME,LOCATION_ADDRESS,TRIBAL_LAND_CODE,SITE_TYPE_NAME,INTEREST_TYPES,LATITUDE83,LONGITUDE83
0,110055452380,SHERWIN-WILLIAMS 3296,10690 BALTIMORE ST NE,NaN,STATIONARY,"STATE MASTER, VSQG",45.162770,-93.232540
1,110055527835,PARKER AUTO MALL,6771 MAIN ST,NaN,STATIONARY,VSQG,45.511520,-92.971080
191,110040710905,13869 FORMER GAS STATION,402 W THORPE AVE,NaN,STATIONARY,LEAKING UNDERGROUND STORAGE TANK - ARRA,47.296260,-96.520978
193,110009898450,ADA,10 WEST FIFTH AVE,NaN,STATIONARY,"COMMUNITY WATER SYSTEM, WATER TREATMENT PLANT",47.300903,-96.515679
194,110008740103,ADA BELTRAMI CO-OP ASSOCIATION,202 W MAIN ST,NaN,STATIONARY,"STATE MASTER, VSQG",47.297522,-96.516176

In [18]:
df_epa_frs_clean = df_epa_frs_clean[df_epa_frs_clean.INTEREST_TYPES != "STATE MASTER"]
df_epa_frs_clean.head()

,REGISTRY_ID,PRIMARY_NAME,LOCATION_ADDRESS,TRIBAL_LAND_CODE,SITE_TYPE_NAME,INTEREST_TYPES,LATITUDE83,LONGITUDE83
0,110055452380,SHERWIN-WILLIAMS 3296,10690 BALTIMORE ST NE,NaN,STATIONARY,"STATE MASTER, VSQG",45.162770,-93.232540
1,110055527835,PARKER AUTO MALL,6771 MAIN ST,NaN,STATIONARY,VSQG,45.511520,-92.971080
191,110040710905,13869 FORMER GAS STATION,402 W THORPE AVE,NaN,STATIONARY,LEAKING UNDERGROUND STORAGE TANK - ARRA,47.296260,-96.520978
193,110009898450,ADA,10 WEST FIFTH AVE,NaN,STATIONARY,"COMMUNITY WATER SYSTEM, WATER TREATMENT PLANT",47.300903,-96.515679
194,110008740103,ADA BELTRAMI CO-OP ASSOCIATION,202 W MAIN ST,NaN,STATIONARY,"STATE MASTER, VSQG",47.297522,-96.516176

In [19]:
df_epa_frs_clean.info

<bound method DataFrame.info of          REGISTRY_ID                    PRIMARY_NAME       LOCATION_ADDRESS  \
0       110055452380           SHERWIN-WILLIAMS 3296  10690 BALTIMORE ST NE
1       110055527835                PARKER AUTO MALL           6771 MAIN ST
191     110040710905        13869 FORMER GAS STATION       402 W THORPE AVE
193     110009898450                             ADA      10 WEST FIFTH AVE
194     110008740103  ADA BELTRAMI CO-OP ASSOCIATION          202 W MAIN ST
...              ...                             ...                    ...
195895  110058380997                CARLETON COLLEGE                    NaN
196557  110040564537    CITY OF RUSHFORD POWER PLANT                    NaN
197688  110006738986                          DANUBE                    NaN
198522  110006739164                            ECHO                    NaN
207859  110040576276     PLANERGY RAMSEY METHANE LLC                    NaN

       TRIBAL_LAND_CODE SITE_TYPE_NAME  \
0                   NaN     STATIONARY
1                   NaN     STATIONARY
191                 NaN     STATIONARY
193                 NaN     STATIONARY
194                 NaN     STATIONARY
...                 ...            ...
195895              NaN     STATIONARY
196557              NaN     STATIONARY
197688              NaN   WATER SYSTEM
198522              NaN   WATER SYSTEM
207859              NaN     STATIONARY

                                       INTEREST_TYPES  LATITUDE83  LONGITUDE83
0                                  STATE MASTER, VSQG   45.162770   -93.232540
1                                                VSQG   45.511520   -92.971080
191           LEAKING UNDERGROUND STORAGE TANK - ARRA   47.296260   -96.520978
193     COMMUNITY WATER SYSTEM, WATER TREATMENT PLANT   47.300903   -96.515679
194                                STATE MASTER, VSQG   47.297522   -96.516176
...                                               ...         ...          ...
195895          ELECTRIC POWER GENERATOR (WIND BASED)   44.461908   -93.156387
196557                                    AIR PROGRAM   43.814044   -91.753824
197688  COMMUNITY WATER SYSTEM, WATER TREATMENT PLANT   44.792007   -95.097993
198522                         COMMUNITY WATER SYSTEM   44.616759   -95.416396
207859                                    AIR PROGRAM   45.237150   -93.429430

[51433 rows x 8 columns]>

In [25]:
#df[df["col"].str.contains("this string")]
df1 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("AIR EMISSION INVENTORY")]
df2 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("AIR MAJOR ")]
df3 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("AIR MINOR ")]
df4 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("AIR SYNTHETIC MINOR ")]
df5 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("ELECTRIC GENERATOR")]
df6 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("ELECTRIC POWER GENERATION")]
df7 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("ELECTRIC POWER GENERATOR")]
df8 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("ETHANOL FACILITY")]
df9 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("GASOLINE")]
df10 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("GREENHOUSE GAS")]
df11 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("ANIMAL")]
df12 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("LIVESTOCK")]
df13 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("TRI REPORTER")]
df14 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("TSCA SUBMITTER")]
df15 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("EPCRA")]
df16 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("FRP")]
df17 = df_epa_frs_clean[df_epa_frs_clean["INTEREST_TYPES"].str.contains("SPCC")]

In [26]:
df14.head()

,REGISTRY_ID,PRIMARY_NAME,LOCATION_ADDRESS,TRIBAL_LAND_CODE,SITE_TYPE_NAME,INTEREST_TYPES,LATITUDE83,LONGITUDE83
1541,110032967957,AGRA RESOURCES LLC DBA POET BIOREFINING GLENVILLE,15300 780TH AVENUE,NaN,STATIONARY,"AIR EMISSIONS CLASSIFICATION UNKNOWN, AIR SYNT...",43.576274,-93.301773
2057,110024870380,REG - ALBERT LEA,15200 780TH AVENUE,NaN,STATIONARY,"AIR SYNTHETIC MINOR, GASOLINE AND DIESEL PRODU...",43.574095,-93.300297
3000,110068588709,BUILDING 009 PROJECT - CSW,2115 S BROADWAY ST,NaN,STATIONARY,"STATE MASTER, TSCA SUBMITTER",45.868610,-95.378260
5245,110056963727,FEDERAL CARTRIDGE CO,2100 HOFFMAN WAY,NaN,STATIONARY,"AIR EMISSIONS CLASSIFICATION UNKNOWN, AIR SYNT...",45.200458,-93.374494
6580,110011618071,H. B. FULLER CO,1200 COUNTY RD E WEST,NaN,STATIONARY,"COMPLIANCE ACTIVITY, FORMAL ENFORCEMENT ACTION...",45.050220,-93.150180

In [28]:
joined_df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17], axis=0)
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3611 entries, 313 to 191091
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REGISTRY_ID       3611 non-null   int64
 1   PRIMARY_NAME      3611 non-null   object
 2   LOCATION_ADDRESS  3594 non-null   object
 3   TRIBAL_LAND_CODE  3 non-null      object
 4   SITE_TYPE_NAME    3611 non-null   object
 5   INTEREST_TYPES    3611 non-null   object
 6   LATITUDE83        3611 non-null   float64
 7   LONGITUDE83       3611 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 253.9+ KB

In [29]:
joined_df.head(20)

,REGISTRY_ID,PRIMARY_NAME,LOCATION_ADDRESS,TRIBAL_LAND_CODE,SITE_TYPE_NAME,INTEREST_TYPES,LATITUDE83,LONGITUDE83
313,110028032572,ADAMS WIND FARM,12933 660 AVE,NaN,STATIONARY,"ELECTRIC GENERATOR, ELECTRIC POWER GENERATOR (...",43.542530,-92.728713
466,110003808434,ADRIAN PUBLIC UTILITIES,20 MAINE AVE,NaN,STATIONARY,"AIR - OTHER, AIR EMISSIONS CLASSIFICATION UNKN...",43.637428,-95.933110
687,110070871095,NOVEL MNDOT SOLAR CSG,14201 HUDSON ROAD S.,NaN,STATIONARY,ELECTRIC GENERATOR,44.947136,-92.817384
1247,110070396903,ALBANY SOLAR,23505 360TH ST.,NaN,STATIONARY,ELECTRIC GENERATOR,45.643050,-94.599980
1281,110070871127,FASTSUN 3 CSG,34206 SMILEY DRIVE,NaN,STATIONARY,ELECTRIC GENERATOR,45.618180,-94.488990
1318,110070871042,NOVEL REBER SOLAR CSG,23245 350TH STREET,NaN,STATIONARY,ELECTRIC GENERATOR,45.628740,-94.594937
1332,110070871252,SCHWINGHAMER PROJECT CSG,34892 238TH AVENUE,NaN,STATIONARY,ELECTRIC GENERATOR,45.626870,-94.598700
1340,110070871199,STEARNS COMMUNITY SOLAR ONE LLC CSG,34206 SMILEY DRIVE,NaN,STATIONARY,ELECTRIC GENERATOR,45.618180,-94.488990
1343,110070871420,STEARNS SOLAR I,36503 COUNTY ROAD 10,NaN,STATIONARY,ELECTRIC GENERATOR,45.650450,-94.552420
1810,110070665837,GOOSE LAKE MN DPC-GM,21530 785TH AVE.,NaN,STATIONARY,ELECTRIC GENERATOR,43.666232,-93.298980
2855,110003865988,ALEXANDRIA,205 3RD AVE W,NaN,STATIONARY,"ELECTRIC GENERATOR, ELECTRIC POWER GENERATOR (...",45.889740,-95.379690
4082,110045006881,WINONA COUNTY WIND LLC,15535 COUNTY RD 31,NaN,STATIONARY,ELECTRIC GENERATOR,44.114870,-91.919600
4083,110070665809,WINONA SOLAR,18700 COUNTY ROAD 28,NaN,STATIONARY,ELECTRIC GENERATOR,44.121038,-91.904460
4828,110070396904,ANNANDALE SOLAR,6523 KLEVER AVE NW,NaN,STATIONARY,ELECTRIC GENERATOR,45.246774,-94.106957
4951,110070871548,SCHUELER COMMUNITY SOLAR,9656 105TH STREET NW,NaN,STATIONARY,ELECTRIC GENERATOR,45.304240,-94.088280
5057,110070665970,ANOKA BESS,14401 LLAMMA ST,NaN,STATIONARY,ELECTRIC GENERATOR,45.234020,-93.480580
7375,110070665303,ATHENS MN CONX,27088 UNIVERSITY AVE NW,NaN,STATIONARY,ELECTRIC GENERATOR,45.461326,-93.265616
7417,110070396905,ATWATER SOLAR,19602 HWY 12 NE (PLEASANT AVE,NaN,STATIONARY,ELECTRIC GENERATOR,45.140869,-94.769733
7461,110070871224,USS TURKEY SOLAR LLC CSG,51154 US-12,NaN,STATIONARY,ELECTRIC GENERATOR,45.138970,-94.756970
8401,110028032590,AGASSIZ BEACH LLC,NaN,NaN,STATIONARY,"ELECTRIC GENERATOR, ELECTRIC POWER GENERATOR (...",47.005300,-96.435600