In [1]:
# importing the dependencies
import pandas as pd
import numpy

In [2]:
# Making the dataframe to inspect the data
df_cancer = pd.read_csv("Data/Countytable.csv")
df_cancer.head()

In [3]:
# getting rid of some columns and renaming some columns
df_cancer.drop(["Cancer header", "Note","Cancer type","Sex"], axis = 1,inplace = True)
df_cancer.head()

In [4]:
df_cancer = df_cancer.rename(columns = {"Rate": "Rate per 100,000"})
df_cancer.head()

In [5]:
# sort by county name 
df_cancer.sort_values(by = "County",inplace = True)
df_cancer.head()

In [6]:
# setting the index
df_cancer.reset_index(drop= True, inplace = True)
df_cancer.head()

In [7]:
# checking for null values
df_cancer.isnull().sum()

In [8]:
df_cancer.duplicated()

In [9]:
df_cancer.dtypes

In [10]:
# change the datatype of county population to integer
df_cancer['County population'] = df_cancer['County population'].str.replace(',', '').astype(float)
#df_cancer[['County population']].apply(pd.to_numeric) 
#df_cancer.dtypes
df_cancer.head()

In [11]:
df_cancer.dtypes

In [12]:
# jsonify the dataframe
#importing the dependencies
import json
from json import loads, dumps

In [13]:
result = df_cancer.to_json(orient ='records')
result

In [14]:
df_cancer.to_json('Output/cancer(2015-2019).json', orient='records')

In [15]:
#reading the healthoutcome excel file 
df_healthoutcome = pd.read_excel("Data/HealthOutcomeAndFactors.xlsx",header = 1)
df_healthoutcome.head()

In [16]:
#Renaming the columns
df_healthoutcome.rename( columns = {"Z-Score":"HealthOutcome(Z-Score)", 
                                    "Rank":"HealthOutcome(Rank)","Z-Score.1":"HealthFactor(Z-Score)",
                                    "Rank.1":"HealthFactor(Rank)"}, inplace = True)
df_healthoutcome.head()

In [17]:
df_healthoutcome.drop(index = 0,inplace = True)
df_healthoutcome.head()

In [18]:
df_healthoutcome.reset_index( drop = True, inplace = True)
df_healthoutcome.head()

In [19]:
df_healthoutcome.drop( columns = ["State"], inplace = True)
df_healthoutcome.head()

In [20]:
df_healthoutcome.to_json('Output/healthoutcome(2023).json', orient='records')

In [21]:
df_landPollution = pd.read_csv("Data/land_application_sites.csv")
df_landPollution.head()

In [22]:
df_landPollution.columns

In [23]:
df_landPollution_clean = df_landPollution[['county','latitude', 'longitude','status','description']]
df_landPollution_clean.head()

In [24]:
df_landPollution_clean.sort_values("county", inplace = True)
df_landPollution_clean.head()

In [25]:
df_landPollution_clean.reset_index(drop = True, inplace = True)
df_landPollution_clean.head()

In [26]:
len(df_landPollution_clean)

In [27]:
# checking for null values
df_landPollution_clean.isnull().sum()

In [28]:
df_landPollution.tail(15)

In [29]:
df_landPollution_clean.dropna().head()

In [30]:
df_json_landPollution = dict(df_landPollution_clean.set_index('county').groupby(level=0).apply(lambda  x : x.to_json(orient = 'records')))
df_json_landPollution

In [31]:
with open("Output/landPollution_sites.json", "w",encoding="utf-8") as outfile:
    json.dump(df_json_landPollution, outfile, ensure_ascii=False)

In [32]:
df_landPollution_clean.to_json('Output/landPollution_sites_test.json', orient='records')

In [5]:
df_asthma = pd.read_csv("Data/MN-asthma-county.csv")
df_asthma.head()

,__Outcome,__Year,_County,"Age-adjusted rate per 10,000",Note,Count of cases
0,Hospitalizations,2018-2020,Winona,0.5,Unstable rate due to small population,9
1,Hospitalizations,2018-2020,Todd,0.6,Unstable rate due to small population,7
2,Hospitalizations,2018-2020,Wright,1.1,NaN,45
3,Hospitalizations,2018-2020,Wabasha,1.1,Unstable rate due to small population,7
4,Hospitalizations,2018-2020,Waseca,1.1,Unstable rate due to small population,7

In [6]:
df_asthma.columns

Index(['__Outcome', '__Year', '_County', 'Age-adjusted rate per 10,000',
       'Note', 'Count of cases'],
      dtype='object')

In [7]:
df_asthma.drop(['__Outcome', '__Year','Note'], axis = 1,inplace = True)
df_asthma.head()

   _County Age-adjusted rate per 10,000 Count of cases
0   Winona                          0.5              9
1     Todd                          0.6              7
2   Wright                          1.1             45
3  Wabasha                          1.1              7
4   Waseca                          1.1              7

In [8]:
df_asthma.rename(columns = {"_County": "County"}, inplace = True)
df_asthma.head()

    County Age-adjusted rate per 10,000 Count of cases
0   Winona                          0.5              9
1     Todd                          0.6              7
2   Wright                          1.1             45
3  Wabasha                          1.1              7
4   Waseca                          1.1              7

In [10]:
df_asthma.sort_values(by = "County", inplace = True)
df_asthma.head()

      County Age-adjusted rate per 10,000 Count of cases
22    Aitkin                            2              9
42     Anoka                          2.6            262
46    Becker                          2.7             26
59  Beltrami                          3.7             55
52    Benton                          3.2             37

In [28]:
df_asthma.reset_index(drop= True, inplace = True)
df_asthma

             County  Age-adjusted rate per 10,000  Count of cases
0            Aitkin                           2.0             9.0
1             Anoka                           2.6           262.0
2            Becker                           2.7            26.0
3          Beltrami                           3.7            55.0
4            Benton                           3.2            37.0
..              ...                           ...             ...
83         Watonwan                           NaN             NaN
84           Wilkin                           NaN             NaN
85           Winona                           0.5             9.0
86           Wright                           1.1            45.0
87  Yellow Medicine                           3.1             8.0

[88 rows x 3 columns]

In [12]:
len(df_asthma)

88

In [29]:
#Checking for null values
df_asthma.isnull().sum()

County                           0
Age-adjusted rate per 10,000    25
Count of cases                  25
dtype: int64

In [17]:
# checking for data types 
df_asthma.dtypes

County                          object
Age-adjusted rate per 10,000    object
Count of cases                  object
dtype: object

In [24]:
df_asthma['Age-adjusted rate per 10,000'] = pd.to_numeric(df_asthma['Age-adjusted rate per 10,000']
                                                                           ,errors='coerce')
df_asthma.dtypes

County                           object
Age-adjusted rate per 10,000    float64
Count of cases                   object
dtype: object

In [25]:
df_asthma['Count of cases'] = pd.to_numeric(df_asthma['Count of cases'], errors='coerce')
                                                                           
df_asthma.dtypes

County                           object
Age-adjusted rate per 10,000    float64
Count of cases                  float64
dtype: object

In [30]:
df_asthma.fillna(0,inplace=True)

In [31]:
df_asthma

             County  Age-adjusted rate per 10,000  Count of cases
0            Aitkin                           2.0             9.0
1             Anoka                           2.6           262.0
2            Becker                           2.7            26.0
3          Beltrami                           3.7            55.0
4            Benton                           3.2            37.0
..              ...                           ...             ...
83         Watonwan                           0.0             0.0
84           Wilkin                           0.0             0.0
85           Winona                           0.5             9.0
86           Wright                           1.1            45.0
87  Yellow Medicine                           3.1             8.0

[88 rows x 3 columns]

In [32]:
df_asthma.to_json('Output/asthma(2018-2020).json', orient='records')